language: android

notifications:
  email: false

env:
  matrix:
    - ANDROID_TARGET=android-18 ANDROID_ABI=armeabi-v7a

android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.2
    - android-20

  licenses:
      - android-sdk-license-5be876d5
      - android-sdk-preview-license-52d11cd2

before_install:
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &

install: true

script: ./gradlew connectedCheck --stacktrace
